:root {
  --ftr-bg: #2e2f42;
  --light: #ffffff;
  --navy-blue: #2e2f42;
  --blue: #4d5ae5;
  --whitish: #f4f4fd;
  --whiteblue: #8e8f99;
  --lightblue: #404bbf;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.container {
  min-width: 320px;
  max-width: 395px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1129px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
  }
}
body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  background-color: var(--light);
  color: #434455;
  min-height: 100vh;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding-left: 0;
}
main {
  flex-grow: 1;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.link {
  text-decoration: none;
}
.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  border-bottom: 1px solid #e7e9fc;
}
.hdr-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e7e9fc;
}
@media only screen and (max-width: 1157.98px) {
  .hdr-container{
    max-width: 100%;
  }
}
@media only screen and (min-width: 1158px) {
   .hdr-container{
    min-height: 72px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.web {
  color: var(--blue);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .web {
    margin-right: 120px;
  }
}
@media only screen and (min-width: 1158px) {
   .web{
    margin-right: 76px;
  }
}
.studio {
  color: var(--navy-blue);
}
.address-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
}
@media only screen and (min-width: 1158px) {
  .address-item {
  flex-direction: row;
  justify-content: flex-end;
  gap: 40px;
  }
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 767.98px) {
  .nav-menu{
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
.nav-menu-item {
  position: relative;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-menu-item:hover {
  color: #404bbf;
}
.nav-menu-item.current {
  color: #404bbf;
}
.nav-menu-item.current::after {
  background-color: #404bbf;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  bottom: -1px;
  border-radius: 2px;
  width: 100%;
  height: 4px;
}
.nav-menu:hover,
.nav-menu:focus {
  color: #404bbf;
}
.nav-menu-list {
  position: relative;
  display: flex;
  gap: 40px;
  list-style: none;
}
@media only screen and (max-width: 767.98px) {
  .nav-menu-list {
    display: none;
  }
}
.nav-menu-list:last-child {
  margin-right: 0;
}
.reference {
  color: #434455;
  font-weight: 400;
  line-height: 1.5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  letter-spacing: 0.04em;
}
@media only screen and (min-width: 1158px) {
  .reference {
    letter-spacing: 0.02em;
    font-size: 16px;
  }
}
.reference:hover,
.reference:focus {
  color: #404bbf;
}
.address {
  display: block; 
  font-style: normal;
  padding-top: 8px;
  padding-bottom: 8px;
}
@media only screen and (max-width: 767.98px) {
  .address{
    display: none;
  }
}
@media only screen and (min-width: 1158px) {
  .address{
    display: flex;
    padding: 24px 0 24px;
    padding: 16px;
    align-items: center;
    justify-content: center;
  }
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 72px;
}
@media screen and (min-width: 768px) {
  .hero-container {
    gap: 36px;
  }
}
@media screen and (min-width: 1158px) {
  .hero-container {
    gap: 48px;
  }
}
.hero-title {
  color: var(--light);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  max-width: 496px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
  }
}
.sub-hdr-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .sub-hdr-list {
    row-gap: 64px;
    column-gap: 24px;
  }
}
@media screen and (min-width: 1158px) {
  .sub-hdr-list {
    gap: 24px;
  }
}
.hero-section {
  background-color: var(--ftr-bg);
  padding-top: 112px;
  padding-bottom: 112px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  max-width: 1440px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/office-mob@1x.jpg);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section{
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/office-mob@2x.jpg);
  }
}
@media only screen and (min-width: 768px) {
  .hero-section {
    padding: 112px 136px;
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/office-tab@1x.jpg);
  }
}
@media only screen and (min-width: 768px) and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/office-tab@2x.jpg);
  }
}
@media only screen and (min-width: 1158px) {
  .hero-section {
    padding: 188px 0;
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/office-desk@1x.jpg);
  }
}
@media only screen and (min-width: 1158px) and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section{
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/office-desk@2x.jpg);
  }
}
.hero-btn {
  display: block;
  color: var(--light);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
.features-section {
  padding-top: 96px;
  padding-bottom: 96px;
}
@media only screen and (min-width: 1158px) {
  .features-section {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.features {
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 1158px) {
  .features {
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
  }
}
.features-list {
  list-style: none;
}
@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    column-gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1158px) {
  .features-list {
    padding: 120px 0;
    width: 100%;
    gap: 24px;
  }
}
.features-section-two {
  display: none;
}
@media screen and (min-width: 1158px) {
  .features-section-two {
    padding-bottom: 120px;
  }
}
.features-section-three {
  background: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}
@media screen and (min-width: 768px) {
  .features-section-three {
    padding: 96px 108px;
  }
}
@media screen and (min-width: 1158px) {
  .features-section-three {
    padding: 120px 0;
  }
}
@media screen and (max-width: 767.98px) {
  .features-item:not(:last-child) {
    margin-bottom: 72px;
  }
}
@media screen and (min-width: 768px) {
  .features-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .features-item {
    width: calc((100% - 72px) / 4);
  }
}
.features-div {
  display: none;
}
@media screen and (min-width: 1158px) {
  .features-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    height: 112px;
  }
}

.top {
  color: var(--ftr-bg);
  font-size: 36px;
  font-weight: 500;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

.sub-hdr {
  color: var(--ftr-bg);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.sub-list-item {
  width: calc((100% - 48px) / 3);
}
.list {
  list-style: none;
  gap: 24px;
}
.sub-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.subtitle {
  color: var(--ftr-bg);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  min-width: 264px;
  text-align: center;
}
.features-subtitle {
  color: var(--ftr-bg);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  width: 100%;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .features-subtitle {
    text-align: left;
  }
}
@media screen and (min-width: 1158px) {
  .features-subtitle {
    width: 264px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
}
.filter-subtitle {
  color: var(--ftr-bg);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.filter-text {
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 1158px) {
  .filter-text {
    font-weight: 400;
    width: 264px;
  }
}
.text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.filter-section {
  padding: 96px 0 120px 0;
}
.filter-btn {
  border: 1px solid #e7e9fc;
  font-family: "Roboto", sans-serif;
  background-color: #f4f4fd;
  color: var(--blue);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  padding: 12px 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:hover,
.filter-btn:focus {
  background-color: #404bbf;
  color: var(--light);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter-item {
  width: calc((100% - 48px) / 3);
}

.filter-item a {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-item-wrapper {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-item-wrapper:hover,
.filter-item-wrapper:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.overlay {
  position: relative;
  overflow: hidden;
}
.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 32px;
  height: 100%;
  width: 100%;
  background-color: #4d5ae5;
  color: var(--whitish);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-item a:hover .overlay-text {
  transform: translateY(0%);
}
.filter-item a:focus .overlay-text {
  transform: translateY(0%);
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.ftr {
  background-color: var(--ftr-bg);
  padding: 96px 0;
}
@media only screen and (min-width: 768px) {
   .ftr{
    display: flex;
    padding-top: 96px;
    padding-bottom: 96px;
  
  }
}
@media only screen and (min-width: 1158px) {
   .ftr{
    padding: 100px 0;
  }
}
.list-bg {
  background-color: var(--light);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
@media screen and (min-width: 768px) {
  .list-bg {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .list-bg {
    width: calc((100% - 72px) / 4);
  }
}
.member-card {
  padding: 32px 0;
}
.team-member {
  margin: 0 auto;
}
.social-media-team {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.social-media-icons {
  width: 100%;
  height: 100%;
  background-color: var(--blue);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon {
  width: 40px;
  height: 40px;
}
.icon {
  fill: var(--whitish);
}
.social-media-icons:hover,
.social-media-icons:focus {
  background-color: #404bbf;
}
.features-section-four {
  padding-top: 96px;
  padding-bottom: 96px;
}
@media screen and (min-width: 1158px) {
  .features-section-four {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 16px;
}
@media screen and (min-width: 768px) {
  .customers-list {
    column-gap: 24px;
  }
}
@media screen and (min-width: 1158px) {
  .customers-list {
    gap: 24px;
    flex-wrap: nowrap;
  }
}
.customers-icon {
  fill: currentColor;
}
.customers-list-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}
@media screen and (min-width: 768px) {
  .customers-list-item {
    width: calc((100% - 48px) / 3);
  }
}
@media screen and (min-width: 1158px) {
  .customers-list-item {
    width: calc((100% - 120px) / 6);
  }
}
.customers-list-icon {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--whiteblue);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-list-icon:hover,
.customers-list-icon:focus {
  border-color: #404bbf;
  color: #404bbf;
}
.filter-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.filter-item-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.footer {
  color: #f4f4fd;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.footer-text {
  color: var(--whitish);
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
  margin-right: 24px;
}
@media only screen and (min-width: 1158px) {
   .footer-text{
    margin-right: 0;
  }
}
.footer-web {
  position: relative;
  color: var(--blue);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}
.social-media-text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
@media only screen and (max-width: 767.98px) {
  .social-media-text{
    text-align: center;
  }
}
.ftr-icon {
  fill: var(--whitish);
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 767.98px) {
  .footer-container{
    gap: 72px;
  }
}
@media only screen and (min-width: 768px) {
  .footer-container {
    flex-direction:row;
    flex-wrap: wrap;
    align-items:unset;
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-container {
    flex-wrap:nowrap;
    align-items: baseline;
  }
}
.footer-wrapper {
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .footer-wrapper {
    text-align: unset;
    margin-bottom: 72px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-wrapper{
    margin-right: 120px;
    margin-bottom: 0;
  }
}
.ftr-social-media {
  display: flex;
  gap: 16px;
}
.ftr-icon-list {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.ftr-icon-item {
  width: 100%;
  height: 100%;
  background-color: var(--blue);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ftr-icon-item:hover,
.ftr-icon-item:focus {
  background-color: #31d0aa;
}
.subscribe-text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.form-email {
  max-width: 398px;
  height: 40px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
@media only screen and (max-width: 767.98px) {
  .form-email, .form-label, .footer-form{
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .form-email{
    width: 264px;
    padding-left: 16px;
  }
}
.form-label {
  display: inline-flex;
}
.footer-form {
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .footer-form{
    text-align: unset;
    margin-left: 0;
    width: 100%;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-form{
    margin-left: 80px;

  }
}
.subscribe-button {
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  border: none;
  gap: 16px;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  width: 165px;
}
.subscribe-icon {
  fill: #ffffff;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  padding: 72px 24px 24px;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.form {
  display: flex;
  gap: 24px;
}
@media only screen and (max-width: 767.98px) {
   .form{
    flex-direction: column;
    justify-content: center;
    align-items:center;
  }
}
.modal-caption {
  margin-bottom: 16px;
  color: var(--navy-blue);
  font-weight: 500;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.modal-label {
  display: block;
  margin-bottom: 4px;
  color: var(--whiteblue);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.modal-text-field {
  position: relative;
  border-radius: 4px;
}
.modal-text-field:active {
  border: 1px solid #4d5ae5;
}
.modal-field {
  border-radius: 4px;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 100%;
  background-color: transparent;
  height: 120px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  resize: none;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field:focus {
  border-color: #4d5ae5;
}
.modal-form-text {
  margin-bottom: 8px;
}
.modal-name-text {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-name-text:focus {
  border-color: #4d5ae5;
}
.modal-name-text:focus + .modal-form-icon {
  fill: #4d5ae5;
}
.modal-form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}
.modal-textarea {
  margin-bottom: 16px;
}
.send-button {
  display: block;
  border-radius: 4px;
  margin: auto;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  min-width: 169px;
  height: 56px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send-button:hover,
.send-button:focus {
  background-color: #404bbf;
}
.modal-form-desc {
  display: block;
  color: var(--whiteblue);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.checkbox-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked + .modal-form-desc > .checkbox-icon {
  background-color: var(--lightblue);
  border: none;
  fill: var(--whitish);
}
.privacy-policy {
  color: var(--blue);
}
.modal-form-agreement {
  margin-bottom: 24px;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  flex-shrink: 0;
}

@media only screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

/* .menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
} */

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  padding: 40px;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: #FFF;
box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
  color: #fff;
  border-radius: 50%;
    border: 1px solid #E7E9FC;
    padding: 8px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.mobile-menu {
  margin-bottom: auto;
}
.mobile-menu-icon {
  stroke: #2E2F42;
}
.mobile-menu-item {
  position: relative;
}
.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-menu-link {
  display:block;
  color: var(--NAVY-BLUE);
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
}

.mobile-menu-item:hover {
  color: var(--lightblue);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-socials {
  display: flex;
  gap: 56px;
  align-items:center;
}
@media only screen and (max-width: 370px) {
  .mobile-menu-socials{
    gap: 35px;
  }
}
.mobile-address {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 48px;
}
.mobile-address-phone {
  color: var(--blue);
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
}
@media only screen and (max-width: 458px) {
  .mobile-address-phone{
    font-size: 20px;
  }
}
.mobile-address-email {
  color: #434455;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}